<div class="homepage-hero-module">
    
    <div class="video-container">
        <div class="title-container">
            <div class="headline">
                     <%= image_tag('mypaperplane.png') %> 
           

            </div>
           
            <div class="description">
              <h2 style = " -webkit-text-stroke-width: .7px;
   -webkit-text-stroke-color: black;">Create and Share Meaningful Letters with People You Love.</h2> 
    
       <%= button_to('Join Now!',new_article_path, method: :get, :class => 'btn btn-xlarge btn-primary')  %>
            </div>
        </div>
        
        <div class="filter">   
              
  <% @articles.each do |article| %>
  <div class='latestblock'><%= 
  image_tag("#{rand(2)}.gif", size:"#{rand(30..500)}")%></div>
<% end %>
  
</div>
     <%= video_tag "clouds.mp4", :size => "1920x1080", :controls => false, :autoplay => true, :loop => true %>
        <div class="poster hidden">
            <img src="#" alt="">
        </div>
        
    </div>

   
</div>

<script>



    		function randomFromTo(from, to){
			return Math.floor(Math.random() * (to - from + 1) + from);
		}
  
		function moveRandom(obj) {
			/* get container position and size
			 * -- access method : cPos.top and cPos.left */
			var cPos = $('.filter').offset();
			var cHeight = $('.filter').height();
			var cWidth = $('.filter').width();
			
			// get box padding (assume all padding have same value)
			var pad = parseInt($('.filter').css('padding-top').replace('px', ''));
			
			// get movable box size
			var bHeight = obj.height();
			var bWidth = obj.width();
			
			// set maximum position
			maxY = cPos.top + cHeight - bHeight - pad;
			maxX = cPos.left + cWidth - bWidth - pad;
			
			// set minimum position
			minY = cPos.top + pad;
			minX = cPos.left + pad;
			
			// set new position			
			newY = randomFromTo(minY, maxY);
			newX = randomFromTo(minX, maxX);
			
			obj.animate({
				top: newY,
				left: newX
				}, 5000, function() {
          moveRandom(obj);
			});
		}
$('.latestblock').each(function() {
moveRandom($(this));
});

</script>