<center>
    <div class="jumbotron">
  <h1>Welcome to MyPaperPlane!</h1>
  <p>(-: You can do stuff</p>
  <p><a class="btn btn-primary btn-lg" role="button" <%= link_to "New Article", new_article_path %></a></p>
         
</div>
    
    


</center>